@model IEnumerable<Standings.Domain.Competition>

@{
    ViewBag.Title = "Standings - Competitions";
}

<h2>Competitions</h2>

<p>
    @TempData["InformationMessage"]
</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>Description</th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.Description</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
